# API Keys
.env
*.pem
api_key
api_key.txt
config.ini
secrets.json
*.txt
*.csv

Sample_Initial_Output.json
Sample_Output.json


# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes 

# Python Files
__pycache__/
*.py[cod]
